body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 70px;
    overflow: hidden;
}

.title {
    padding: 0 10px;
}

.price {
    padding: 0;
    margin: 0;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.discount {
    position: absolute;
    left: 40px;
    top: 30px;
    transform: rotateZ(-20deg);
    font-weight: bold;
    color: #D17581;
    text-shadow: 1px 1px 1px #000;
    font-size: 40pt;
}

.discount-small {
    font-size: 26pt;
    top: -5px;
    left: 22px;
}

.strike {
    text-decoration: line-through;
}

footer {
    margin: 50px 0;
}